.page-template-page_style-guide  {

  p {
    @apply text-white;
  }
}

#style-guide {
  @apply text-second-secondary;
  font-size: em(12);

  .sg-bg {
    border-radius: 10px;
    overflow: hidden;
    @apply mt-3 mb-3;
  }

  .sg-row {
    display: grid;
    align-items: center;
    justify-items: start;
    // border-bottom: 1px solid $gray-700;
      @apply p-2;

    &:first-child {
      @apply pt-2 pr-2 pb-1 pl-2;
    }
    &:last-child {
      // border-bottom: 0px solid $gray-700;
    }

    &:nth-child(odd) {
      @apply bg-third text-white;
    }
    &:nth-child(even) {
      @apply bg-second-third text-white;
    }

    &.text {
      grid-template-columns: 1fr 1fr 1fr 2fr;
    }
    &.buttons {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &.colors {
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &.margins {
      align-items: end;
      justify-items: center;
      grid-template-columns: repeat(21, 1fr);

      .sg-col {
        &:before {
          content: '';
          position: relative;
          top: -2px;
          width: 20px;
          background-color: gray;
        }
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            &:before {
              height: 8px * $i;
            }
          }
        }

      }
    }

  }

  .sg-col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    &:before {
      white-space: pre;
    }

    .color-box {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }

    &.font-size {
      position: relative;

      &.h1 {
        &:before {
          position: absolute;
          content: '#{map-get($h1, smallest-font) * 16, map-get($h1, largest-font) * 16}';
        }
      }

      &.h2 {
        &:before {
          position: absolute;
          content: '#{map-get($h2, smallest-font) * 16, map-get($h2, largest-font) * 16}';
        }
      }
      &.h3 {
        &:before {
          position: absolute;
          content: '#{map-get($h3, smallest-font) * 16, map-get($h3, largest-font) * 16}';
        }
      }
      &.h4 {
        &:before {
          position: absolute;
          content: '#{map-get($h4, smallest-font) * 16, map-get($h4, largest-font) * 16}';
        }
      }
      &.h5 {
        &:before {
          position: absolute;
          content: '#{map-get($h5, smallest-font) * 16, map-get($h5, largest-font) * 16}';
        }
      }
      &.h6 {
        &:before {
          position: absolute;
          content: '#{map-get($h6, smallest-font) * 16, map-get($h6, largest-font) * 16}';
        }
      }

    }
    &.font-line-height {
      position: relative;

      &.h1 {
        &:before {
          position: absolute;
          content: '#{map-get($h1, smallest-line-height) * 16, map-get($h1, largest-line-height) * 16}';
        }
      }

      &.h2 {
        &:before {
          position: absolute;
          content: '#{map-get($h2, smallest-line-height) * 16, map-get($h2, largest-line-height) * 16}';
        }
      }
      &.h3 {
        &:before {
          position: absolute;
          content: '#{map-get($h3, smallest-line-height) * 16, map-get($h3, largest-line-height) * 16}';
        }
      }
      &.h4 {
        &:before {
          position: absolute;
          content: '#{map-get($h4, smallest-line-height) * 16, map-get($h4, largest-line-height) * 16}';
        }
      }
      &.h5 {
        &:before {
          position: absolute;
          content: '#{map-get($h5, smallest-line-height) * 16, map-get($h5, largest-line-height) * 16}';
        }
      }
      &.h6 {
        &:before {
          position: absolute;
          content: '#{map-get($h6, smallest-line-height) * 16, map-get($h6, largest-line-height) * 16}';
        }
      }

    }
    &.body-copy {
      position: relative;
      &.p-status {
        position: relative;
        &:before {
          position: absolute;
          content: '#{map-get($p, smallest-font) * 16, map-get($p, largest-font) * 16}';
        }
      }
      &.p-xlarge-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-xlarge, smallest-font) * 16, map-get($p-xlarge, largest-font) * 16}';
        }
      }
      &.p-large-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-large, smallest-font) * 16, map-get($p-large, largest-font) * 16}';
        }
      }
      &.p-xmedium-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-xmedium, smallest-font) * 16, map-get($p-xmedium, largest-font) * 16}';
        }
      }
      &.p-medium-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-medium, smallest-font) * 16, map-get($p-medium, largest-font) * 16}';
        }
      }
      &.p-xsmall-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-xsmall, smallest-font) * 16, map-get($p-xsmall, largest-font) * 16}';
        }
      }
      &.p-small-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-small, smallest-font) * 16, map-get($p-small, largest-font) * 16}';
        }
      }

    }
    &.body-copy-line-height {
      position: relative;
      &.p-status {
        position: relative;
        &:before {
          position: absolute;
          content: '#{map-get($p, smallest-line-height) * 16, map-get($p, largest-line-height) * 16}';
        }
      }
      &.p-xlarge-status {
        position: relative;

        &:before {
          position: absolute;
          content: '#{map-get($p-xlarge, smallest-line-height) * 16, map-get($p-xlarge, largest-line-height) * 16}';
        }
      }
      &.p-large-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-large, smallest-line-height) * 16, map-get($p-large, largest-line-height) * 16}';
        }
      }
      &.p-xmedium-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-xmedium, smallest-line-height) * 16, map-get($p-xmedium, largest-line-height) * 16}';
        }
      }
      &.p-medium-status{
        &:before {
          position: absolute;
          content: '#{map-get($p-medium, smallest-line-height) * 16, map-get($p-medium, largest-line-height) * 16}';
        }
      }
      &.p-xsmall-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-xsmall, smallest-line-height) * 16, map-get($p-xsmall, largest-line-height) * 16}';
        }
      }
      &.p-small-status {
        &:before {
          position: absolute;
          content: '#{map-get($p-small, smallest-line-height) * 16, map-get($p-small, largest-line-height) * 16}';
        }
      }

    }
  }

  .info-bubble {
    border-radius: 10px;
    @apply mt-8 mb-8 p-3 bg-third;
  }

}
