{
  "extends": "stylelint-config-standard",
  "rules": {
    "number-leading-zero": null,
    "declaration-empty-line-before": null,
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "color-hex-length": null,
    "color-hex-case": "upper",
    "no-descending-specificity": null,
    "selector-pseudo-element-colon-notation": "single",
    "block-no-empty": null,
    "declaration-colon-newline-after": "always-multi-line"
  }
}
