/************************************
* Admin Bar location
************************************/
#wpadminbar {
  position: fixed !important;
  top: 0;
  z-index: 111;
}

#layout-missing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100vh;
  margin: auto;

  #missing-cont {
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    @apply p-4 bg-white;
  }

}

/************************************
* IMG Path
************************************/
$theme-path: '~/library/assets/';

/************************************
* Gobal Setup
************************************/
html,
body {
  position: relative;
  @include Body-Copy;
  width: 100%;
  height: 100%;
  // color: theme('colors.second-secondary');
  @apply bg-second-primary;

  &.overflow-hidden-module {
    overflow: hidden;
  }
}

main#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-0 text-white;

  span {

    // style in the acf_wysiwyg
    &.highlight {
      @apply text-gray-500;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  @screen tablet-down {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  @include h1;
  margin-bottom: r-clamp(rem(34), rem(44), rem($fontScaleStop), rem($fontScaleBreak));
}

h2 {
  @include h2;
  margin-bottom: r-clamp(rem(24), rem(34), rem($fontScaleStop), rem($fontScaleBreak));
}

h3 {
  @include h3;
  margin-bottom: r-clamp(rem(14), rem(24), rem($fontScaleStop), rem($fontScaleBreak));
}

h4 {
  @include h4;
  margin-bottom: r-clamp(rem(14), rem(24), rem($fontScaleStop), rem($fontScaleBreak));
}

h5 {
  @include h5;
  margin-bottom: r-clamp(rem(14), rem(24), rem($fontScaleStop), rem($fontScaleBreak));
}

h6 {
  @include h6;
  margin-bottom: r-clamp(rem(14), rem(24), rem($fontScaleStop), rem($fontScaleBreak));
}

p {
  @include p;
  @apply text-second-third mb-2;

  span {

    // style in the acf_wysiwyg
    &.highlight {
      @apply text-gray-500;
    }
  }
}

a {
  text-decoration: none;
  @include p;
  @apply text-primary;

  &:active,
  &:hover,
  &:focus,
  &:visited {
    @apply outline-none;
  }

  @include hover {
    @apply text-primary;
  }
}

ul,
ol ol,
ol ul,
ul ol,
ul ul {
  @apply m-0 p-0;

  li {
    list-style: none;
    @include p;
  }
}

ol {
  @apply mb-2;
  margin: revert;
  list-style: none;

  li {
    @apply mb-1;
    counter-increment: item;

    &:before {
      content: counter(#{item}) ".";
      margin-right: 10px;
      text-align: center;
      color: theme('colors.primary');
    }
  }
}
