$magnetic-size: 2rem;
$magnetic-elm-size: 4rem;

.magnetic-btn-position {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -20px;
  display: flex;
justify-content: center;
  // top: calc(10vh);
  z-index: 333;
}

.magnetic-wrap {
  position: relative;
  display: block;
  width: $magnetic-elm-size;
  height: $magnetic-elm-size;

  .magnetic-area {
    position: absolute;
    bottom: -$magnetic-size;
    top: -$magnetic-size;
    left: -$magnetic-size;
    right: -$magnetic-size;
    z-index: 3;
    border-radius: 50%;
    border: 2px dashed;
    @apply border-gray-400;

    @include hover {
      + .magnetic-content .elm {
        @apply bg-primary/[1];

      }
    }
  }

  .magnetic-content {
    position: relative;
    z-index: 3;
    pointer-events: none;
    .elm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $magnetic-elm-size;
      height:$magnetic-elm-size;
      border-radius: 32px;
      box-sizing: border-box;
      font-size: 10px;
      line-height: 13px;
      will-change: transform;
      @apply bg-primary/[.7];



      span {
        @apply text-white;

      }
    }
  }




}
