section#social-icons {
  ul {
    display: flex;
    justify-content: center;

    li {
      height: 20px;
      width: 20px;
      @apply mx-1;

      &:last-child {
        // @apply mx-0;
      }

      .icon {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      a {
        height: 100%;
        width: 100%;
        @apply text-white;
        @include hover{
          @apply text-white/[0.3];
        }
      }
    }
  }
}
