section#js-text-360 {
  display: flex;
  flex-direction: column;
  // Content Position

  #video-360 {
    iframe {
      width: 100%;
    }
  }

  &.Top {
    .cont {
      justify-content: flex-start;
    }
  }


  &.Middle {
    .cont {
      justify-content: center;
    }
  }

  &.Bottom {
    .cont {
      justify-content: flex-end;
    }
  }
  // Layout Position
  &.Left {
    .img-cont {
      @apply mt-6;
      @screen md {
        @apply mt-0;
      }
    }
  }
  &.Right {
    .img-cont {
      @apply mb-6;
      @screen md {
        @apply mb-0;
      }
    }
  }

  > .row {
    width: 100%;


    .cont {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &.Right {
    .column {
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(1) {
        order: 1;
      }
    }
  }

  h3 {

  }

  p {

  }
}
