.js-bg-scroll {
  position: relative;
  @apply bg-white;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100%;
  //   @apply bg-primary;
  // }
  > * {
    position: relative;
    z-index: 1;
  }
}


#mask-clips-container {
  position: absolute;
  top: -30vw;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  display: flex;
  transform: rotate(7deg);
  will-change: transform;

  li {
    position: relative;
    height: 100vh;
    width: 20%;
    will-change: transform;
    .box {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      @apply bg-primary;
      transition: all 300ms ease-in;
    }

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        .box {
          transition-delay:50ms * $i;
        }
      }
    }
  }
}
