#grid-helper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: none;
  @include grid-width;
  &.active {
    display: flex;
  }
  &:before {
    content: "Grid Helper Placeholder";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    font-size: 30px;
    opacity: 0.3;
  }

  li {
    @apply bg-primary/[.1] h-full;
    width: calc(100% / 12);
    margin: 0 calc($gutter);

    @screen md {
      margin: 0 calc(($gutter *  2) / 2);
    }

    &:nth-child(odd) {
      @apply bg-primary/[.2]
    }
  }
}

#dev-notes {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  max-width: 500px;
  display: none;
  @apply p-4 bg-white text-black rounded drop-shadow-xl;

  &.active {
    @apply block;
  }

  ul#todos {
    li {
      @apply list-decimal	mb-1
    }
  }

  ul#keywords {
    display: flex;
    justify-content: space-between;
    li {
      @apply m-1 p-1 bg-gray-300 rounded;
      font-size: em(15);
      span {
        font-weight: bold;
      }
    }
  }
}
